* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-sarif";
}


.headding {
    font-size: 30px;
    padding: 10px 10px;
    margin-left: 25%;
}

.form-control {
    margin: 20px;
}

.full-form {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;



    /* background: rgb(130, 106, 251); */
}

label {
    padding: 10px;
}

span {
    font-size: 25px;
}

input {
    padding: 10px;
    margin-left: 10px;
}

.submit-button {
    margin-left: 30%;
    margin-top: 5px;
    padding:10px 25px;
    border: none;
    font-size: 20px;
    background-color: rgb(108, 108, 197);
    color: white;
    border-radius: 10px;

}